@inherits LayoutComponentBase

<main>
    <img src="./samurai-jack.gif"/> <br />
    @Body
</main>

<footer>
    <p>
        Made with <br />
        <i class="lni lni-heart-filled"></i> + <i class="lni lni-coffee-cup"></i> + <i class="lni lni-spotify-original"></i>
    </p>
</footer>
